<section id="streaming">
  <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
      <div class="uk-vertical-align uk-text-center">
        <div clas="uk-vertical-align-middle">
          <img class="uk-responsive-width" src="/assets/img/logos/logo-white-bg.png" alt="Streamelopers"/>
          <p class="uk-text-large uk-margin-large-top">Entérate antes que nadie de las próximas charlas y avances de la plataforma</p>
          <form action="//torib.us8.list-manage.com/subscribe/post?u=ef31a927b6350152bc23a3f93&amp;id=bacf45207f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form" target="_blank">
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_ef31a927b6350152bc23a3f93_bacf45207f" tabindex="-1" value="">
            </div>
            <div class="uk-form-row signup-form">
              <input class="required email uk-margin-small-top uk-form-large" placeholder="john@doe.com" type="email" value="" name="EMAIL" id="mce-EMAIL" required />
              <button class="uk-button uk-button-primary uk-margin-small-top uk-button-large" value="¡Suscribeme!" type="submit" name="subscribe" id="mc-embedded-subscribe" >¡Suscribeme!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="streamingContainer" class="streamingContainer uk-width-medium-1-2" data-uk-grid-margin>
      <div class="uk-vertical-align uk-text-center">
        <div clas="uk-vertical-align-middle">
          <youtube-video video-id="home.youtubeVideoId" player-vars="home.playerVars" class="uk-width-1-1"></youtube-video>
        </div>
      </div>
    </div>
  </div>
  <h2>Transmisiones anteriores</h2>
  <hr/>
  <ul class="uk-thumbnav uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-4">
    <li ng-repeat="playlist in home.playlists">
      <a ng-href="https://www.youtube.com/playlist?list={{playlist.id}}">
        <figure class="uk-overlay ">
          <img ng-src="{{playlist.snippet.thumbnails.medium.url}}"/>
          <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom" >{{playlist.snippet.title}}</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</section>
