<section id="streaming">
  <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
      <div class="uk-vertical-align uk-text-center">
        <div clas="uk-vertical-align-middle">
          <img class="uk-responsive-width" src="/assets/img/logos/logo-white-bg.png" alt="Streamelopers"/>
          <!--<p class="uk-text-large uk-margin-large-top">Entérate antes que nadie de las próximas charlas y avances de la plataforma</p>
          <form action="//torib.us8.list-manage.com/subscribe/post?u=ef31a927b6350152bc23a3f93&amp;id=bacf45207f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form" target="_blank">
            <div style="position: absolute; left: -5000px;">
              <input type="text" name="b_ef31a927b6350152bc23a3f93_bacf45207f" tabindex="-1" value="">
            </div>
            <div class="uk-form-row signup-form">
              <input class="required email uk-margin-small-top uk-form-large" placeholder="john@doe.com" type="email" value="" name="EMAIL" id="mce-EMAIL" required />
              <button class="uk-button uk-button-primary uk-margin-small-top uk-button-large" value="¡Suscribeme!" type="submit" name="subscribe" id="mc-embedded-subscribe" >¡Suscribeme!</button>
            </div>
          </form>
        -->
        </div>
      </div>
    </div>
    <div id="streamingContainer" class="streamingContainer uk-width-medium-1-2" data-uk-grid-margin>
      <div class="uk-vertical-align uk-text-center">
        <div clas="uk-vertical-align-middle">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gbYeKK_xo6U" frameborder="0" class="uk-width-1-1" allowfullscreen autoplay></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
    <div class="uk-width-1-1">
      <h2>Transmisiones anteriores</h2>
      <hr/>
      <ul class="uk-thumbnav uk-grid-width-small-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-text-center-small">
        <li ng-repeat="playlist in home.playlists">
          <a ng-href="https://www.youtube.com/playlist?list={{playlist.id}}">
            <figure class="uk-overlay ">
              <img ng-src="{{playlist.snippet.thumbnails.medium.url}}"/>
              <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom" >{{playlist.snippet.title}}</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
    <div class="uk-width-1-1">
      <h2>Estamos aquí gracias a las contribuciones de</h2>
      <hr/>
      <div id="SuperSponsors">
        <ul class="uk-list list-inline uk-text-center">
          <li ng-repeat="donor in home.donors | filter:home.getSuperDonors">
            <a href="{{donor.url}}" title="{{donor.Name}}">
              <img ng-show="donor['url a imagen']" ng-src="{{donor['url a imagen']}}" class="donor-image" alt="{{donor.Name}}"/>
            </a>
          </li>
        </ul>
      </div>
      <div >
        <ul class="uk-list list-inline uk-text-center" >
          <li ng-repeat="donor in home.donors" >
            <a ng-show="donor.Amount >= 25 && donor['url a imagen'] == ''" href="{{donor.url}}"><b>{{donor.Name}}</b>,</a>
            <span ng-show="donor.Amount < 25">{{donor.Name}},</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
