
<div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
  <div class="uk-width-medium-1-2 uk-margin-large-top">
    <div class="uk-vertical-align uk-text-center">
      <div clas="uk-vertical-align-middle">
        <h1 class="uk-heading-large">Streamelopers</h1>
        <p class="uk-text-large">Entérate antes que nadie de las próximas charlas y avances de la plataforma</p>
        <form action="//torib.us8.list-manage.com/subscribe/post?u=ef31a927b6350152bc23a3f93&amp;id=bacf45207f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form" target="_blank">
          <div style="position: absolute; left: -5000px;">
            <input type="text" name="b_ef31a927b6350152bc23a3f93_bacf45207f" tabindex="-1" value="">
          </div>
          <div class="uk-form-row signup-form">
            <input class="required email uk-margin-right uk-margin-small-top uk-form-large" placeholder="tu correo va aquí" type="email" value="" name="EMAIL" id="mce-EMAIL" required />
            <button class="uk-button uk-button-primary uk-margin-small-top uk-button-large" value="¡Suscribeme!" type="submit" name="subscribe" id="mc-embedded-subscribe" >¡Suscribeme!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="streamingContainer" class="uk-width-medium-1-2" data-uk-grid-margin>
    <div class="uk-vertical-align uk-text-center">
      <div clas="uk-vertical-align-middle">
        <iframe class="uk-width-1-1" src="https://www.youtube.com/embed/gbYeKK_xo6U" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
