<section id="e3">
    <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
      <div class="uk-width-medium-3-5">
        <iframe width="777" height="437" style="width:100%" src="https://gaming.youtube.com/embed/lpXgJGGfeqs" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="uk-width-medium-2-5">
        <div id="disqus_thread"></div> <script>  var disqus_config = function () { this.page.url = e3.absUrl; this.page.identifier = e3.absUrl; };(function() { var d = document, s = d.createElement('script'); s.src = '//streamelopers.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script> <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div>
</section>
