<video id="desktop"></video>
<video id="camera"></video>
<!--<video id="preview"></video> -->
<div class="control-panel">
  <button id="btnRecord" class="uk-button" style="color:red"><i class="uk-icon-circle"><i></button>
  <button id="btnPlay" class="uk-button" disabled><i class="uk-icon-play"><i></button>
  <button id="btnDownload" class="uk-button " disabled><i class="uk-icon-download"><i></button>
  <button id="btnFirefoxExtension" class="uk-button uk-button-danger" onclick="intallFirefoxScreenCapturingExtension(); return false;"><i class="uk-icon-cloud-download"></i> Install Firefox Extension</button>
</div>
