.streamingContainer iframe
{
  min-height: 400px;
  height: 100%;
}
.signup-form input, .signup-form input[type=email]{
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.signup-form button{
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.uk-navbar{
  background:0;
}


.navbar-logo{
  width:140px;
}

.shadowed-text{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
