#streamingContainer iframe
{
  min-height: 400px;
  height: 100%;
}
.signup-form input{
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.signup-form button{
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
footer a{
  color:#ccc;
}
